script.
    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();


.busuanzi
    p #[span(id="busuanzi_container_site_pv") Page View: #[span(id="busuanzi_value_site_pv")]] | #[span(id="busuanzi_container_site_uv") Unique Visitor: #[span(id="busuanzi_value_site_uv")]]
