extends partial/layout

block container
    include mixins/post
    +posts()

block pagination
    include mixins/paginator
    +home()

block statistics
    include partial/statistics

block copyright
    include partial/copyright
