.archive {
    max-width: 1000px;
    margin: 2em auto;
    .archive-year {
        font-size: 23px;
        color: #939B9C;
    }
    .post-item {
        padding: 2px 0 5px 0;
        position: relative;
    }
    .post-time,
    .post-title-link {
        font-size: 1rem;
    }
    .post-title-link {
        display: block;
        margin-left: 80px;
        color: #393D41;
        word-break: break-all;
        font-weight: 500;
        &:hover {
            border-bottom: 2px;
            color: #0070c9;
        }
    }
    .post-info {
        display: block;
        float: left;
        width: 100px;
        color: #939C9D;
        word-break: break-all;
        position: absolute;
        top: 15%;
    }
}