.paginator {
    margin: 2em auto;
    text-align: center;
    .prev_post, .prev {
        float: left;
        margin-left: 1em;
    }
    .next_post, .next {
        float: right;
        margin-right: 1em;
    }
    .next, .prev, .next_post, .prev_post {
        display: inline-block;
        font-size: 15px;
        color: #0070c9;
        &:hover {
            border-bottom: 1.3px solid #0070c9;
        }
    }
}

.ds-thread,
#disqus_thread {
    margin-bottom: 2em;
}