header {
    min-height: 60px;

    .logo-link {
        float: left;
    }
    
    .nav {
        float: right;
        left: 80px;
    }

    .logo-link img {
        height: 60px;
    }

    .nav-list-item {
        display: inline-block;
        padding: 20px  15px ;
        a {
            font-size: 16px;
            line-height: 1.4;
            font-weight: bold;
            color: #939B9C;
            &:hover {
                color: #393D41;
            }
        }
    }
}
